@media (max-width: 600px) {  
body {
  background: rgb(0, 0, 0) !important;
}
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                url("../img/campo.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin-top: 15px;
    font-size: 1.2rem;
    opacity: 0.9;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px;
}

.card-btn {
    text-decoration: none;
    background: linear-gradient(135deg, #ff0000, #ff0000);
    padding: 30px 50px;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.card-btn:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, #ff0000, #ff0000);
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.5);
}

.logo {
    width: 120px;
    margin-bottom: 20px;
    transition: 0.3s;
    height: auto;

.foto {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #4d0707;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s;
}

.cultivo h3 {
    font-size: 40px;
    margin-bottom: 15px;
}

.cultivo p {
    font-size: 18px;
}

.cultivo p {
    font-size: 20px;
    max-width: 600px;
}

.cultivo {
    padding: 30px;
}

.cultivo img {
    margin-bottom: 20px;
}

.cultivo h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.cultivo p {
    font-size: 18px;
    max-width: 600px;
}

.header {
    margin-bottom: 40px;
}

.header h1 {
    text-align: center;
    font-size: 3rem;
}

.header p {
    text-align: center;
}

.historia {
    margin-bottom: 50px;
}

.historia h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contacto {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.tarjeta-contacto {
    background: rgb(255, 0, 0);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    max-width: 400px;
}

.tarjeta-contacto h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.tarjeta-contacto p {
    margin-top: 15px;
}

.btn-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-link:hover {
    background: #000000;
}

.contenedor-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #000000);
}

.formulario {
    background: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background: #a30404;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.formulario button:hover {
    background: #000000;
}

.formulario h2 {
    color: black;
}

body {
    font-family: Arial;
    background: #000000;
}

.chat-container {
    width: 300px;
    margin: 50px auto;
    background: rgb(119, 11, 11);
    padding: 15px;
    border-radius: 10px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

.mensaje {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.usuario {
    background: #000000;
    text-align: right;
}

.bot {
    background: #000000;
}